form {
  display: flex;
  flex-direction: column;
}

label {
  align-self: center;
  margin: 15px 0 15px 0;
}

input {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

#searchBtn {
  padding: 10px;
  margin: 15px 0 15px 0;
  border-radius: 10px;
  border: none;
  background: rgb(176, 183, 188);
  font-weight: bold;
}

#favsBtn {
  width: 100%;
  padding: 10px;
  margin: 15px 0 15px 0;
  border-radius: 10px;
  border: none;
  background: rgb(250, 70, 22);
  font-weight: bold;
}
