<div>
  <h3>Search Events</h3>
  <form #form="ngForm" (ngSubmit)="getEvents(form)">
    <div>
      <label for="keyword">Keyword</label>
      <input id="keyword" type="text" name="keyword" ngModel />
    </div>
    <div>
      <label for="location">Zip Code</label>
      <input id="location" type="text" name="location" ngModel />
    </div>
    <div>
      <label for="startDate">Start Date</label>
      <input id="startDate" type="text" name="startDate" ngModel />
    </div>
    <div>
      <label for="endDate">End Date</label>
      <input id="endDate" type="text" name="endDate" ngModel />
    </div>
    <button (click)="goToEvents()">Search</button>
  </form>

  <button (click)="goToFavs()">View Favorites</button>
</div>
