
<div class="searchAside">
  <h3>Search Events</h3>
  <form #form="ngForm" (ngSubmit)="getEvents(form)">
    <label for="keyword">Event</label>
    <input
      id="keyword"
      type="text"
      name="keyword"
      ngModel
      placeholder="Event"
    />

    <label for="location">City</label>
    <input
      id="location"
      type="text"
      name="location"
      ngModel
      placeholder="City"
    />

    <label for="startDate">Start Date(YYYY-MM-DD)</label>
    <input
      id="startDate"
      type="text"
      name="startDate"
      ngModel
      placeholder="Start Date (YYYY-MM-DD)"
    />

    <label for="endDate">End Date(YYYY-MM-DD)</label>
    <input
      id="endDate"
      type="text"
      name="endDate"
      ngModel
      placeholder="End Date (YYYY-MM-DD)"
    />

    <button id="searchBtn" (click)="goToEvents()">Search</button>

  </form>

  <button id="favsBtn" (click)="goToFavs()">View Favorites</button>
</div>

<div *ngFor="let event of eventData">
  <p>{{ event.name }}</p>
</div>
