<div>
  <form #form="ngForm" (submit)="getEvents(form)">
    <div>
      <label for="keyword">Keyword</label>
      <input id="keyword" type="text" />
    </div>
    <div>
      <label for="location">Zip Code</label>
      <input id="location" type="text" />
    </div>
    <div>
      <label for="startDate">Start Date</label>
      <input id="startDate" type="text" />
    </div>
    <div>
      <label for="endDate">End Date</label>
      <input id="endDate" type="text" />
    </div>
  </form>
</div>
