form {
  display: flex;
  flex-direction: column;
}

.searchAside {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  margin-right: 20px;
  height: 100vh;
  background: rgb(0, 118, 182);
}

#title {
  margin-bottom: 10px;
  align-self: center;
}

label {
  align-self: center;
  margin: 15px 0 15px 0;
}

input {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1px solid black;
}

#searchBtn {
  padding: 10px;
  margin: 15px 0 15px 0;
  border-radius: 10px;
  border: none;
  background: rgb(176, 183, 188);
  font-weight: bold;
}

#favsBtn {
  padding: 10px;
  margin: 15px 0 15px 0;
  border-radius: 10px;
  border: none;
  background: rgb(250, 70, 22);
  font-weight: bold;
}
