<div class="sidebar">
  <!-- <img
    src="https://assets.pcmag.com/media/images/516258-ticketmaster-logo.jpg?width=333&height=245(14 kB)
   https://assets.pcmag.com/media/images/516258-ticketmaster-logo.jpg?width=333&height=245
   "
  /> -->

  <nav>
    <a routerLink="/search">Search</a>
    <a routerLink="/eventList">Search Results</a>
    <a routerLink="/eventDetail">Event Details</a>
    <a routerLink="/bucketList">Saved Events</a>
  </nav>
</div>
<main>
  <router-outlet></router-outlet>
</main>
