<div class="searchAside">
  <h2 id="title">Search For Events</h2>
  <form #form="ngForm" (submit)="getEvents(form)">
    <label for="keyword">Event</label>
    <input
      id="keyword"
      type="text"
      name="keyword"
      ngModel
      placeholder="Ex. Tigers"
    />

    <label for="location">City</label>
    <input
      id="location"
      type="text"
      name="location"
      ngModel
      placeholder="Ex. Detroit"
    />

    <label for="startDate">Start Date</label>
    <input id="startDate" type="date" name="startDate" ngModel />

    <label for="endDate">End Date</label>
    <input id="endDate" type="date" name="endDate" ngModel />

    <button id="searchBtn">Search</button>
  </form>

  <!-- <button id="favsBtn">View Favorites</button> -->
</div>
